$fontFamily: 'Times New Roman', Times, serif;

//default
$backgroundColor: rgb(254 231 251);
$textColor: rgb(4, 9, 33);

//darkmode
$darkBackgroundColor: rgb(4, 26, 116);
$darkTextColor: rgb(232, 227, 227);

//button colors
$nextButtonColor: #D81B60;
$nextButtonHover: #f189af;
$nextButtonText: rgb(232, 227, 227);
$nextButtonShadow: #3c0519;


$modeButtonColor: rgb(66, 13, 13);
$modeButtonHover: rgb(165, 56, 56);
$modeButtonText: rgb(232, 227, 227);
$modeButtonShadow: rgb(10, 0, 0);

//paragraf shadow color
$darkModeShadow: #ffffffbd;
$shadow: rgba(0, 0, 0, 0.2);

//Media query
$desktop: "screen and (min-width: 750px)";