$fontFamily: 'Times New Roman', Times, serif;

//default
$backgroundColor: rgb(254 231 251);;
$textColor: rgb(4, 9, 33);

//darkmode
$darkBackgroundColor: rgb(4, 26, 116);
$darkTextColor: rgb(232, 227, 227);