$fontFamily: 'Times New Roman', Times, serif;

//default
$background: url('/Images/pinkClouds_madisonInouye.jpg');
$textColor: rgb(4, 9, 33);

//darkmode
$darkBackground: url('/Images/space_hristoFidanov.jpg');
$darkTextColor: #272123;;
$darkTextShadow: 0.5px 1px #e3e9f8;

//button colors
$defaultButtonColor: #D81B60;
$defaultButtonHover: #f189af;
$defaultButtonText: rgb(232, 227, 227);
$defaultButtonShadow: #3c0519;

$nextButtonColor: #D81B60;
$nextButtonHover: #f189af;
$nextButtonText: rgb(232, 227, 227);
$nextButtonShadow: #3c0519;


$modeButtonColor: rgb(241 35 110);
$modeButtonHover: #f189af;
$modeButtonText: rgb(232, 227, 227);
$modeButtonShadow: rgb(10, 0, 0);

$correctAnswerBackground: rgb(104 167 104);
$wrongAnswerBackground: rgb(209 87 87);

//paragraf shadow color
$darkModeShadow: #ffffffbd;
$shadow: rgba(0, 0, 0, 0.2);

//Media query
$desktop: "screen and (min-width: 750px)";