@import "./Partials/variables";
@import "./Partials/mixin";

* {
  box-sizing: border-box;
}

body {  
  @include flex(column, center, center); 
  margin: 0;
  background: $background;
  background-size: cover;
  color: $textColor; 
  font-family: $fontFamily;
  &.dark-mode {
    background: $darkBackground;
    background-size: cover;
    color: $darkTextColor;
    // TODO change color on boxshadow when dark-mode
    // ! To low specificity
    .response {
      box-shadow: 0px 5px 5px $darkModeShadow;      
    }    
  }
  #hide {
    display: none;
  }
  #quizButtons {    
    display: flex;
    max-width: 100%;
    
    button {
      @include button($modeButtonColor, $modeButtonText, $modeButtonShadow, $modeButtonHover);
      padding: 5px 10px;
      font-size: 15px;
      margin-bottom: 10px;
    }    
  }
 
  .rules {
    width: 78%;
    ul li {
    font-size: 20px;
    }
  }

  // ! Default styling on buttons
  button {
    @include button($defaultButtonColor, $defaultButtonText, $defaultButtonShadow, $defaultButtonHover)
  }

  .quizContainer {  
    @include flex(column, center, center); 
    width: 86vw;
    background: rgb(255 255 255 / 50%);
    margin: 10px;
    padding: 5px;
    box-shadow: 4px 5px 9px rgba(255, 255, 255, 0.7);
    @media #{$desktop} {
      width: 53vw;
    }
    h2 {
      font-size: 25px;
      margin: 5px 0;
      }
     
    .quizImage{
      display: flex;
      justify-content: center;
      img {
        width: 80%;
      }
    
    } 
      .questionsContainer{
        width: 100%;
        @include flex(column, center, center);
        @media #{$desktop} {
          width: 25em;
        }
        .questionCard{
          @include flex(row, center, center);
          flex-wrap: wrap;
          .question {
          text-align: center;
          }
          .answersOption{
            width: 47%;
            border: 1px solid #673AB7 ;
            padding: 5px;      
            text-align: center;
          
            input[type="checkbox"] {
              display: none;
            }
            label {
              font-size: 25px;
            }
          }
          .correct{
            background-color: $correctAnswerBackground;
            border: black solid 2px;
          }
          .wrong {
            background-color: $wrongAnswerBackground;
            border: black solid 2px;
          }            
        }    
        .userResult {
          @include flex(column, center, center);
          gap: 0;
          h2 {
            font-size: 30px;
          }
          p {
            margin: 0;
            font-size: 20px;
          }
        }
        .response {
          margin: 12px 0;
          box-shadow: 0px 5px 5px $shadow;
          p {
            margin: 5px;
            font-size: 15px;
          }
        }
      }    
        .nextBtn {
          @include button($nextButtonColor, $nextButtonText, $nextButtonShadow, $nextButtonHover);
        }
        #toggleModeBtn {
          @include button($modeButtonColor, $modeButtonText, $modeButtonShadow, $modeButtonHover);
          padding: 5px 10px;
          font-size: 15px;
          margin-bottom: 10px;
        }
        .hide{
          display: none;
        }
  }
}

