@import "./Partials/variables";
@import "./Partials/mixin";

* {
  box-sizing: border-box;
}

body {
   @include flex(column, center, center); 
   font-family: $fontFamily;
   background-color: $backgroundColor;
   color: $textColor;
   overflow: hidden;
   margin: 0;
   width: 100vw;
   height: 100vh;

    &.dark-mode {
      background-color: $darkBackgroundColor;
      color: $darkTextColor;
    } 
    .friendsPic{
    width: 80%;
    } 
    .questionsContainer{
      width: 80%;
      @include flex(column, center, center);
      .questionCard{
        @include flex(row, center, center);
        flex-flow: row wrap;
        .question {
        text-align: center;
      }
      .answersOption{
        width: 47%;
        border: 1px solid #673AB7 ;
        padding: 5px;      
        text-align: center;

        input[type="checkbox"] {
          display: none;
        }
        label {
          font-size: 25px;
        }
      }
      .correct{
        background-color: #08a308;
        border: black solid 2px;
      }
      .wrong {
        background-color: #f32828;
        border: black solid 2px;
      }
    }    
  }
  #resultContainer{
    display: none;
  }
  .nextBtn {
    @include button($nextButtonColor, $nextButtonText, $nextButtonShadow, $nextButtonHover);
  }
  #toggleModeBtn {
    @include button($modeButtonColor, $modeButtonText, $modeButtonShadow, $modeButtonHover);
  }
}

//*TODO: styla classerna correct och wrong
